<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{{ page.title }} | Mohammed Rajkotwala</title>

    <meta name="author" content="Mohammed Rajkotwala">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">

  </head>

  <body>
    <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
      <tr style="padding:0px">
        <td style="padding:16px">
          <p>
            <a href="/">Mohammed Rajkotwala</a> &nbsp;/&nbsp; <a href="/#blog">Blog</a>
          </p>
          <h2>{{ page.title }}</h2>
          <p><em>{{ page.date | date: "%B %-d, %Y" }}</em></p>
          <div class="post">
            {{ content }}
          </div>
          <br>
          <p style="text-align:right;font-size:small;">
            Design adapted from <a href="https://github.com/jonbarron/jonbarron_website">Jon Barron's website</a>.
          </p>
        </td>
      </tr>
    </tbody></table>
  </body>
</html>
